{
  "presets": [
    [
      "@babel/preset-env",
      {
        // "targets": {
        //   "browsers": ["> 0.01%", "last 2 versions", "not ie <= 8"]
        // },
        "modules": false,
        "useBuiltIns": "pure",
        "corejs": 3,
        "targets": "ios >= 8"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      // {
      //   "corejs": 3
      // }
    ]
  ]
}
