{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "> 0.01%",
          "last 2 versions",
          "not ie <= 8"
        ]
      },
      "useBuiltIns": "usage"
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}